.user {
  height: 50px;
  margin: 10px;
  border: #000 1px solid;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: darken(#fff, 5%);
  }

  img {
    width: 48px;
    height: 48px;
  }
}

tbody tr {
  &:hover {
    cursor: pointer;
  }
}