<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body bg-body-secondary">
          <form class="d-flex justify-content-center" [formGroup]="credintialsForm" (ngSubmit)="login()">
              <div class="ms-2">
                <label class="form-label">Email</label><br>
                <input class="form-control" formControlName="email" />
              </div>
              <div class="ms-2">
                <label class="form-label">Password</label><br>
                <input class="form-control" formControlName="password" />
              </div>
            <button  class="btn btn-outline-primary" type="submit">{{ activePath }}</button>
          </form>
          @if (isSignInPage) {
            <div class="container mt-5">
              <app-sign-in-with-providers (providerType)="loginWith($event)"></app-sign-in-with-providers>
            </div>
          }
          <div class="container">
            <button class="btn btn-outline-secondary" [routerLink]="['../', routerLinkPath]">{{ routerLinkPath | titlecase}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
