<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="card" style="min-height: 350px;">
        <div class="card-body bg-body-secondary">
          <form class="d-flex flex-column justify-content-center align-items-center" [formGroup]="credintialsForm" (ngSubmit)="login()">
            <div class="d-flex justify-content-between mb-3 w-50">
              <div class="me-3 w-100">
                <label class="form-label">Email</label><br>
                <input class="form-control position-relative" formControlName="email" />
                @if (emailError) {
                  <small class="text-danger position-absolute">Email is not valid</small>
                }
                @if (requiredEmailError) {
                  <small class="text-danger position-absolute">Email is required</small>
                }
              </div>
              <div class="ms-3 w-100">
                <label class="form-label">Password</label><br>
                <input type="password" class="form-control position-relative" formControlName="password" />
                @if (lengthPasswordError) {
                  <small class="text-danger position-absolute">Min length 6</small>
                }
                @if (requiredPasswordError) {
                  <small class="text-danger position-absolute">Password is required</small>
                }
              </div>
            </div>
            <button class="btn btn-outline-primary mt-3" type="submit" [disabled]="credintialsForm.invalid">
              <b>{{ splitStrByDash(activePath) | titlecase }}</b>
            </button>
          </form>
          @if (isSignInPage) {
            <div class="container mt-5">
              <app-sign-in-with-providers (providerType)="loginWith($event)"></app-sign-in-with-providers>
            </div>
          }
          <div class="container position-absolute bottom-0 end-0">
            <button class="btn btn-outline-secondary mb-2" [routerLink]="['../', routerLinkPath]">Go to {{ routerLinkPath | titlecase}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
