<app-search (usersEmitter)="onUsersEmit($event)"></app-search>

@if (users.length) {
  <table class="table table-striped" infiniteScroll (scrolled)="onScroll()">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">User login</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track user; let i = $index) {
        <tr (click)="toUser(user)">
          <th style="width: 30px;" scope="row">{{ i + 1 }}</th>
          <td style="width: 40px;">
            <img
              [src]="user.avatar_url"
              [alt]="user.login"
              class="me-2 rounded-5"
              style="width: 30px"
            />
          </td>
          <td>
            {{ user.login }}
          </td>
        </tr>
      }
    </tbody>
  </table>
}